<% layout('layouts/boilerplate') %>

<div class=" d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1534880606858-29b0e8a24e8d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FtcGdyb3VuZHxlbnwwfHwwfHx8MA%3D%3D" alt="">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form action="/register" class="validated-form" novalidate method="POST">
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="user[username]" placeholder="Enter your username" autofocus required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="user[email]" placeholder="Enter your email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="user[password]" placeholder="Enter a password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success">Register</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>